/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin: 0;
  font: 400 16px/1.5 -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  color: #121212;
}

h1 {
  padding: 0 1em;
}

.article {
  margin-bottom: 1em;
}

.article h2 {
  clear: left;
  padding: 0.2em 1em;
  color: white;
  background-color: #00A69C;
  margin: 1em 0 0.4em 0;
}

.article .description,
.article .photos,
.article .location,
.article .likes {
  padding: 0.2em 1.4em;
}

.article .location,
.article .details {
  width: 45%;
  max-width: 400px;
  float: left;
}

.article .photos img {
  width: 100%;
}